Django
djangorestframework
django-cors-headers
django-environ
django-allauth
dj-rest-auth
djangorestframework-simplejwt
Pillow
psycopg2-binary     
requests
python-dotenv      
channels            
channels-redis
daphne
aiohttp